{% assign faqSection = product.metafields.custom.product_faq.value %}

<section class="page-width">
  <h2>Product FAQ</h2>
  
  {% for faq in faqSection.question_and_answer.value %}
    <details>
      <summary>
        {{ faq.question }}
      </summary>
      <p>{{ faq.answer }}</p>
    </details>
  {% endfor %}

</section>

{% schema %}
{
  "name": "Product FAQ",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Product FAQ"
    }
  ]
}
{% endschema %}
