<script>
  let metafieldData = {{ product.metafields.custom.product_faq.value | json }};
  console.log(metafieldData);
</script>

<section>
  {% assign swatches = product.metafields.custom.product_faq.value %}

  {% for qa in swatches.question_and_answer.value %}
    {{ qa | json }}
    {% for q in qa %}
      {{ q.first }}
    {% endfor %}
  {% endfor %}


  {% comment %} <details>
    {% for entry in product.metafields.custom.product_faq.value.question_and_answer %}
      test
      <summary>{{ entry.title }}</summary>
      <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
    {% endfor %}
  </details>  {% endcomment %}

</section>

{% schema %}
{
  "name": "Product FAQ",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Product FAQ"
    }
  ]
}
{% endschema %}
